<div class="modal fade" tabindex="-1" id="mandelbrotVisualizerModal" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <h1 style="width: 1000px">Mandelbrot Visualizer</h1>
                    <div>
                        <input type="button" value="Reset" (click)="resetHomeAndRender()" style="vertical-align:bottom; margin-top:20px" />
                    </div>
                </div>
            </div>

            <div class="modal-body">

                <div class="row">
                    <canvas width="600" height="600" #fractalCanvas style="margin:12px">
                    </canvas>
                    <div style="margin:12px">
                        <h3>Instructions:</h3>
                        <p style="text-align:left">
                            After initial loading of Mandlebrot, click anywhere on the
                            <br />image to zoom in.
                            <br />- Alt+Click to Zoom out.
                            <br />- Ctrl+Click to move around.
                            <br />- Iteration Count controls detail
                            <br />- Export a high resolution copy with Export Render.
                            <br />- Over 9600 Horizontal Resolution, errors can occur.
                            <br />- Check Custom Coloring to setup
                            <br /> custom coloring while rendering.
                            <br />- Use "default" for basic default color calculation for
                            <br /> individual color components.
                            <br />- Use parameter "iters" : "sin(iters deg)*255" or "iters%255"
                            <br /><a href="https://mathjs.org/docs/expressions/syntax.html" target="_blank"> Click here for expression details.</a>
                        </p>
                    </div>

                </div>

                <div class="row">

                    <!-- <div class="col-3" style="margin: 16px;">
                        <h6 style="font-weight:bold">Render Duration:</h6>
                        <h6 id="elapsedTimeLabel">{{elapsedTime}}</h6>
                        <h6 style="font-weight:bold">Iteration Count:</h6>
                        <input  id="iterationCountInput" {{iterationCount}} min="2" />
                    </div>

                    <div class="col-3" style="margin:16px;"
                         data-toggle="tooltip" data-placement="top" title="Use 'default' to render unformatted in a single channel.">
                        <div class="row">
                            <input type="checkbox" style="margin:4px" {{useColorFormat}} /> Custom Coloring:
                        </div>
                        <div class="row">
                            <h6 style="margin:4px">R:</h6>
                            <input style="margin:4px" type="text" id="colorFormatR" {{colorFormatR}} value="default" />
                        </div>
                        <div class="row">
                            <h6 style="margin:4px">G:</h6>
                            <input style="margin:4px" type="text" id="colorFormatG" {{colorFormatG}} value="default" />
                        </div>
                        <div class="row">
                            <h6 style="margin:4px">B:</h6>
                            <input style="margin:4px" type="text" id="colorFormatB" {{colorFormatB}} value="default" />
                        </div>
                    </div>

                    <div class="col-2">
                        <input type="button" (click)="renderFractal()" value="Render" style="margin:2px;" />

                        <div id="renderingSpinner" [style.visibility]="isRendering ? 'visible' : 'hidden'">
                            <span class="spinner-grow spinner-grow-sm"></span>
                            Rendering...
                        </div>
                        <div>
                            <h6 id="highResProgress">{{exportProgress}}</h6>
                        </div>
                    </div>
                    <div class="col-2">
                        <a id="exportRender" download="mandelbrotHighRes.png" href="" (click)="exportRender($event)">Export Render</a>
                        <div class="row">
                            <h6>Horizontal Resolution: </h6>
                            <input type="number" min="6" {{exportResolutio}} value="2400" id="horzRes" />
                        </div>
                        <div id="exportSpinner" [style.visibility]="isExporting ? 'visible' : 'hidden'">
                            <span class="spinner-grow spinner-grow-sm"></span>
                            Exporting...<br />
                            Check F-12 logs for export progress.
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
```