<div class="container">
    <div class="row">
      <div class="col-12">
        <label> Real: {{ windowCoords.real }}</label>
        <label> Img: {{ windowCoords.img }}</label>
        <label> Real Range: {{ windowCoords.realRange }}</label>
        <label> Img Range: {{ windowCoords.imgRange }}</label>
      </div>
      <div class="col-6" style="display: flex; align-items: flex-start;">
        <div style="width: 600px; height: 600px; margin-right: 10px;">
          <canvas width="600" height="600" #fractalCanvas style="border: 1px solid #ccc;"></canvas>
        </div>
        <div style="display: flex; flex-direction: column;">
          <input type="button" (click)="renderFractal()" value="Render" style="margin-bottom: 5px;" />
          <input type="button" value="Reset" (click)="resetHomeAndRender()" style="margin-bottom: 5px;" />
          <label style="margin-top: 10px; margin-bottom: 5px;">Iterations</label>
          <input id="iterationCountInput" [(ngModel)]="iterationCount" min="2" style="margin-bottom: 5px;" />
          
          <label style="margin-top: 10px; margin-bottom: 5px;">Enable Custom Coloring</label>
          <input type="checkbox" style="margin: 4px;" [(ngModel)]="useColorFormat" /> 
          <h6 style="margin: 4px;">R:</h6>
          <input style="margin: 4px;" type="text" id="colorFormatR" [(ngModel)]="colorFormatR" class="form-control" />
          <h6 style="margin: 4px;">G:</h6>
          <input style="margin: 4px;" type="text" id="colorFormatG" [(ngModel)]="colorFormatG" class="form-control" />
          <h6 style="margin: 4px;">B:</h6>
          <input style="margin: 4px;" type="text" id="colorFormatB" [(ngModel)]="colorFormatB" class="form-control" />    
          
          <div id="renderingSpinner" [style.visibility]="isRendering ? 'visible' : 'hidden'">
            <span class="spinner-grow spinner-grow-sm"></span>
            Rendering...
          </div>

          <div style="margin: 12px;">
            <h3>Instructions:</h3>
            <p style="text-align: left;">
              After initial loading of Mandlebrot, click anywhere on the<br />image to zoom in.<br />- Alt+Click to Zoom out.<br />- Ctrl+Click to move around.<br />- Iteration Count controls detail<br />- Export a high resolution copy with Export Render.<br />- Over 9600 Horizontal Resolution, errors can occur.<br />- Check Custom Coloring to setup<br /> custom coloring while rendering.<br />- Use "default" for basic default color calculation for<br /> individual color components.<br />- Use parameter "iters" : "sin(iters deg)*255" or "iters%255"<br /><a href="https://mathjs.org/docs/expressions/syntax.html" target="_blank"> Click here for expression details.</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>