<div class="home-container">
  <h1>Welcome to Deiaco's Developments</h1>
  <p>
    This website showcases various projects, experiments, and personal interests. Explore interactive visualizations, software projects, and more!
  </p>

  <h2>Updates</h2>
  <ul class="updates-list">
    <li><strong>Mandelbrot Explorer:</strong> Dive into the fascinating world of fractals with an interactive Mandelbrot set visualization.</li>
    <li><strong>Buddhabrot Renderer:</strong> Watch the escape paths of the Mandelbrot fractal build up the enigmatic Buddhabrot.</li>
    
    <li><strong>Game of Life:</strong> Experiment with Conway's Game of Life and explore cellular automata.</li>
    <li><strong>Photography:</strong> Gallery of photography I've done.</li>
    <li><strong>Shadows Of Infinity:</strong> Explore some NFT's I've created to own a piece of the Buddhabrot!</li>
    <li><strong>Bio:</strong> Get to know more about me and my professional journey.</li>
  </ul>
</div>
