<div class="game-container">
  <div class="controls">
    <button mat-raised-button color="primary" (click)="startGame()" [disabled]="isRunning">Start</button>
    <button mat-raised-button color="accent" (click)="stopGame()" [disabled]="!isRunning">Stop</button>
    <button mat-raised-button (click)="resetGame()" [disabled]="isRunning">Reset</button>
    <button mat-raised-button (click)="randomizeGrid()" [disabled]="isRunning">Randomize</button>
     <button mat-raised-button (click)="nextGeneration()" [disabled]="isRunning">Next Step</button>
  </div>

  <mat-grid-list [cols]="cols" rowHeight="1:1" gutterSize="1px">
    <div *ngFor="let i of rowsArray">
      <mat-grid-tile *ngFor="let j of colsArray"
                     [ngClass]="{'alive': isCellAlive(i, j), 'dead': !isCellAlive(i, j)}"
                     (click)="toggleCell(i, j)">
        </mat-grid-tile>
    </div>
  </mat-grid-list>

</div>
