<div class="photography-gallery">
  <h1>Photography</h1>

  <div class="album-select">
    <label for="album-select">Select album:</label>
    <select id="album-select" #albumSelect (change)="getPhotoUrlsInAlbum(albumSelect.value ?? '')">
      <option value="" disabled selected>Choose an album</option>
      <option *ngFor="let album of albums_to_load" [value]="album">{{ album }}</option>
    </select>
  </div>

  <div *ngIf="!image_urls || image_urls.length === 0" class="empty">
    No photos to display.
  </div>

  <mat-grid-list cols="3" rowHeight="200px" gutterSize="8px" *ngIf="image_urls && image_urls.length">
    <mat-grid-tile *ngFor="let url of image_urls">
      <img [src]="url" alt="photo" class="photo-img" />
    </mat-grid-tile>
  </mat-grid-list>
</div>