<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Deiaco's<br>Developments</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/mandelbrot">Mandelbrot</a>
      <!-- <a mat-list-item href="/photography">Photography</a> -->
      <a mat-list-item href="/gameoflife">Game Of Life</a>
      <a mat-list-item class="multiline-nav-item" href="https://shadowsofinfinity.io" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
      Shadows of<br>Infinity
      </a>
      <a mat-list-item href="/bio">Bio</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <!-- <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
    </mat-toolbar> -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
