<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a href="/home" class="toolbar-link" style="text-decoration:none;color:inherit;">
        Deiaco's<br>Developments
      </a>
    </mat-toolbar>

    <mat-nav-list>
      <!-- Algorithms header becomes clickable to toggle submenu -->
      <a mat-list-item (click)="toggleAlgorithms()" style="cursor: pointer;">
        <span>Software</span>
        <span class="spacer"></span>
        <mat-icon style="height: 18px;" a-hidden="false" aria-label="expand icon">{{ showAlgorithms ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>

      <!-- Submenu: shown when showAlgorithms is true -->
      <div *ngIf="showAlgorithms" class="submenu" style="padding-left:16px;">
        <a mat-list-item href="/mandelbrot">Mandelbrot</a>
        <a mat-list-item href="/gameoflife">Game Of Life</a>
      </div>

      <mat-divider></mat-divider>

      <a mat-list-item href="/photography">Photography</a>

      <a mat-list-item class="multiline-nav-item" href="https://shadowsofinfinity.io" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
        Shadows of<br>Infinity
      </a>
      <a mat-list-item href="/bio">Bio</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
